@page "/"

<h1>Project Page - Perth Trains!</h1>

This application is a small project built using .NET Core Blazor

It allows us to see when trains are leaving a chosen station using the Trains link
found in the side-bar.

Thank you & have a good day - Alex 🤩
