@page "/"

<h1>Project Page - Perth Trains!</h1>
<div class="container">
    <p>
    This application is a small project built using .NET Core Blazor
</p>
<p>
    It allows us to see when trains are leaving a chosen station using the Trains link
    found in the side-bar.
</p>
Thank you & have a good day - Alex 🤩
</div>

